body {
    background: #ddd;
}
.main {
    margin-top: 50px;
    background-color: #fff;
}

.main .content {
    background: #ddd;
}

.main .content .col-md-6 {
    background: #fff;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}